<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Motu patlu</h1>
    Total number of words in input : {{l}}<br>
    <br>

    <form action="motupatlu" method="POST">{% csrf_token %}
    Enter Email : <input type="text" name="email" placeholder="email" Required>
    <br>
    Enter Passcode : <input type="text" name="passcode" placeholder="passcode" Required>
    <br>
    <input type="submit">

    </form>
    <!-- Optional JavaScript -->
 </body>
</html>